<div class="ask_post " id="question-{{QUESTION id}}" data-id="{{QUESTION id}}">
    <div class="ap_head" style="margin-bottom: 0px;">
        <div class="user_info">
            <a href="{{LINK @}}{{QUESTION user_username}}" data-load="?link1=timeline&id={{QUESTION user_username}}" id="#{{QUESTION id}}">
                <img src="{{QUESTION user_avatar}}" alt="{{QUESTION user_full_name}} Avatar" />
                <span>{{QUESTION user_full_name}}</span>
            </a>
        </div>
    </div>
    <div class="ap_ques">
        <p class="ask_ques_answered">{{QUESTION answer}}</p>
    </div>
</div>