<div class="container small_container page_margin">
    <input type="hidden" id="profile-id" value="{{USER id}}">
    <div class="ask_profile">
        {{COVER_AVATAR}}

        <div class="row">
            <div class="col-md-7">
                {{FOLLOWERS_BOX}}
            </div>
            <div class="col-md-5">
                <div class="sidebar">
                    {{ABOUT_ME}}
                    {{SIDEBAR_FOOTER}}
                </div>
            </div>
        </div>

    </div>

</div>