<div class="login_page">
    <div class="login-page">
        <div class="login-form">
            <h4>{{LANG sign_up_reg}}</h4>
            <p id="fill_out_form">{{LANG fill_out_form}}</p>
            <div class="register-alert"></div>
            <form class="register-form" method="POST">
                <div class="pp_mat_input">
                    <input type="text" name="username" id="username" placeholder="{{LANG username}}" value="" required autofocus>
                    <i class="fas fa-user-circle fab_w"></i>
                </div>
                <div class="pp_mat_input">
                    <input type="email" name="email" id="email" placeholder="{{LANG email_id}}" value="" required>
                    <i class="fas fa-envelope fab_w"></i>
                </div>
				<div class="pp_mat_input">
                <select id="gender" name="gender">
					
					       <option value="selectGender">{{LANG Select gender}}</option>
					 
                           <option value="male">{{LANG Male}}</option>
                    <option value="female">{{LANG Female}}</option>
                </select>
                <i class="fas fa-male fab_w"></i>
            </div>
                <div class="pp_mat_input">
                    <input type="password" name="password" id="password" placeholder="{{LANG password}}" value="" required>
                    <i class="fas fa-lock fab_w"></i>
                </div>
                <div class="pp_mat_input">
                    <input type="password" name="c_password" id="c_password" placeholder="{{LANG confirm_password}}" value="" required>
                    <i class="fas fa-lock fab_w"></i>
                </div>
                <div class="recaptcha mb-4">{{RECAPTCHA}}</div>
                <div class="mb-4">
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                        <input type="checkbox" class="custom-control-input" name="accept_terms" id="accept_terms" required="">
                        <label class="custom-control-label" for="accept_terms">
                            <small>{{LANG i_agree_to_the}} <a class="u-link-muted" href="{{LINK terms/terms}}" data-load="?link1=terms&type=terms">{{LANG terms_and_conditions}}</a></small>
                        </label>
                    </div>
                </div>
                <div class="login_signup_combo">
                    <div class="login__">
                        <button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">{{LANG get_started}}</button>
                    </div>
                    <div class="signup__">
                        <p>{{LANG already_have_an_account}} <a class="dec" data-load="?link1=login" href="{{LINK login}}">{{LANG login}}</a></p>
                    </div>
                </div>
                <div class="clear"></div>
                <input type="hidden" id="checked" value="off" name="terms">
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
    "use strict";
        $('form').submit(function(){
            $(this).find('button[type=submit]').attr('disabled','disabled');
        });
        $("#accept_terms").change(function() {
            if(this.checked) {
                $('#checked').val('on');
            } else {
                $('#checked').val('off');
            }
        });
						
        $('.button').on('click', function () {
            if ($('#username').val() && $('#gender').val() && $('#password').val() && $('#email').val() && $('#c_password').val()) {
                $(this).val("{{LANG please_wait}}");
                $('button[type=submit], input[type=submit]').prop('disabled',true);
            }
        });
        let form = $('form.register-form');
        form.ajaxForm({
            url: '{{LINK aj/register}}?hash=' + $('.main_session').val(),
            dataType:'json',
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.mode == 'done' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }else if( data.mode == 'wait_activate' ){
                        $('.register-form').hide();
                        $('#fill_out_form').hide();
                    }
                    $('.register-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(300);
                }
                else {
                    $('.register-alert').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">{{LANG get_started}}</button>');
                }
            }
        });
    });
</script>