<h3 class="ask_acc_title_hd">
    <a href="{{LINK settings/account/}}{{USER username}}" data-load="?link1=settings&page=account&user={{USER username}}" title="Go back">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
    </a> {{LANG blocked_users}} (2)
</h3>
<div class="list-unstyled mb-0 sett_block_list">
    <div class="asb_users">
        <a style="background-image:url({{CONFIG theme_url}}/img/users/user_1.jpg)" class="user_ava" href="profile.html"></a>
        <button title="Unblock" class="btn unlock">{{LANG unbloack}}</button>
        <div class="user_info">
            <a href="profile.html">User #1</a>
            <p>@demo</p>
        </div>
    </div>
    <div class="asb_users">
        <a style="background-image:url({{CONFIG theme_url}}/img/users/user_2.jpg)" class="user_ava" href="profile.html"></a>
        <button title="Unblock" class="btn unlock">{{LANG unbloack}}</button>
        <div class="user_info">
            <a href="profile.html">Huekfu Dfhetet</a>
            <p>@demo</p>
        </div>
    </div>
</div>