<form class="as_form" id="profile-settings" method="POST">
    <div class="setting-profile-alert"></div>
    <div class="pp_mat_input">
        <textarea name="about" id="about" placeholder="{{LANG About Me}}" rows="3" autofocus>{{USER about_decoded}}</textarea>
        <i class="fas fa-user-circle fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="text" name="location" id="location" value="{{USER location}}" placeholder="{{LANG Location}}">
        <i class="fas fa-globe-americas fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="url" name="website" id="website" value="{{USER website}}" placeholder="{{LANG Website}}">
        <i class="fas fa-link fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="url" name="facebook" id="facebook" value="{{USER facebook}}" placeholder="{{LANG Facebook}}">
        <i class="fab fa-facebook-f fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="url" name="google" id="google" value="{{USER google}}" placeholder="{{LANG Google}}">
        <i class="fab fa-google fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="url" name="twitter" id="twitter" value="{{USER twitter}}" placeholder="{{LANG Twitter}}">
        <i class="fab fa-twitter fab_w"></i>
    </div>
    <div class="pp_mat_input">
        <input type="url" name="instagram" id="instagram" value="{{USER instagram}}" placeholder="{{LANG Instagram}}">
        <i class="fab fa-instagram fab_w"></i>
    </div>
    <input type="hidden" name="hash_id" value="<?php echo CreateSession()?>">
    <input type="hidden" name="user_id" value="{{USER id}}">
    <div class="btn_footer">
        <button type="submit" class="btn btn-primary u-btn-primary transition-3d-hover">{{LANG save}}</button>
    </div>
</form>
<script>
    $(function() {
    "use strict";
        var form = $('form#profile-settings');
        form.ajaxForm({
            url: '{{LINK aj/user/profile}}?hash=' + $('.main_session').val(),
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                scrollToTop();
                if (data.status == 200) {
                    $('.setting-profile-alert').html('<div class="alert alert-success">' + data.message + '</div>');
                    $('.alert-success').fadeIn('fast', function() {
                        $(this).delay(2500).slideUp(500, function() {
                            $(this).remove();
                        });
                    });
                } else if (data.errors) {
                    var errors = data.errors.join("<br>");
                    $('.setting-profile-alert').html('<div class="alert alert-danger">' + errors + '</div>');
                    $('.alert-danger').fadeIn(300);
                }
                form.find('button').replaceWith('<button type="submit" class="btn btn-primary u-btn-primary transition-3d-hover">{{LANG save}}</button>');
            }
        });
    });
</script>