<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="container page_margin">
    <div class="row">
		<div class="col-md-3"><?php echo LoadPage('ads/includes/header'); ?></div>
        <div class="col-md-9">
            <div class="ask_side_widget ads-cont-wrapper">{{PAYMENT_LINK}}
				<h2>{{LANG wallet}}</h2>
                <div class="my_ballnc">
					<svg xmlns="http://www.w3.org/2000/svg" class="feather feather-wallet" width="24" height="24" viewBox="0 0 24 24" fill="#0ca678"><path d="M20,7V5c0-1.103-0.897-2-2-2H5C3.794,3,2,3.799,2,6v11c0,2.201,1.794,3,3,3h15c1.104,0,2-0.896,2-2V9 C22,7.896,21.104,7,20,7z M4,6c0-0.805,0.55-0.988,1-1h13v2H5.012C4.55,6.988,4,6.805,4,6z M19,15h-2v-3h2V15z" /></svg> {{LANG My balance}}
					<h5>
						<span><?php echo GetCurrency($ask->config->ads_currency); ?></span>
						<b><?php echo sprintf('%.2f',$ask->user->wallet);?></b>
					</h5>
                </div>
                <div class="add_mon_walt">
					<svg xmlns="http://www.w3.org/2000/svg" class="feather feather-wallet" width="24" height="24" viewBox="0 0 24 24" fill="#e91e63"><path d="M20,4H4C2.897,4,2,4.897,2,6v12c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2V6C22,4.897,21.103,4,20,4z M20,6v2H4V6H20z M4,18v-6h16.001l0.001,6H4z"></path><path d="M6 14H12V16H6z"></path></svg>
					<div class="w100">
						<label class="col-md-12 bold">{{LANG Replenish My Balance}}</label>
                    </div>
					<button type="button" class="btn btn-primary" onClick="ReplenishWallet();">{{LANG Continue}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="payment_method"></div>


<script>
	var questionQ_id = 0;
	var amount;

    function ShowMethods(type,price = 0,user_id = 0, question_pro =0 ) {
        $.post('{{LINK aj/wallet/get_modal}}',{type:type,price:price,user_id:user_id,question_pro:questionQ_id}, function(data, textStatus, xhr) {
            if (data.status == 200) {
                $('.payment_method').html(data.html);
                $('#wallet_payment_modal').modal({
                    show: true
                });
            }
        });
    }

	function ReplenishWallet() {
		swal({
		  html:$('.replenish-wallet-form').clone().addClass('clone').removeClass('hidden'),
		  showCloseButton: true,
		  showCancelButton: false,
		  focusConfirm: false,
		  confirmButtonText:"{{LANG replenish}}",
		  cancelButtonText:"{{LANG cancel}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-primary btn-mat',
		  cancelButtonClass:"btn btn-default pull-left",
		  allowOutsideClick:false,
		  showLoaderOnConfirm: true,
		  preConfirm: function () {
		    return new Promise(function (resolve, reject) {
		    	amount = $(".replenish-wallet-form.clone").find('input').val();
		    	if (!amount || amount < 0.05){
		    		reject("{{LANG Please check the details}}!");
		    	}
		    	else{
		    		$('#wallet_amount').val(amount);
		    		swal.close();
		    		ShowMethods('wallet',amount);
		    	}
		    })
		  }
		}).then(function(){/*pass*/},function(){/*pass*/});
	}



	function ToggleAdsStatus(id){
		if (!id) {
			return false;
		}
		$.post('{{LINK aj/ads/toggle-stat}}', {id:id}, function(data, textStatus, xhr) {/* pass */});
	}

	
	$(document).on('change', '#thumbnail', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_modal').addClass('up_rec_img_ready');
	});

	jQuery(document).ready(function($) {
		$('#bank_transfer_form').ajaxForm({
		  url: '{{LINK aj/wallet/bank_replenish}}',
		  beforeSend: function() {
		    $('#bank_transfer_form').find('.ball-pulse').fadeIn(100);
		  },
		  success: function(data) {
		    if (data['status'] == 200) {
		    	$("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
		    	setTimeout(function () {
		    		window.location = "<?php echo $ask->config->site_url;?>";
		    		$(".prv-img").html('<div class="thumbnail-rendderer"><div><div class="error-text-renderer"></div><div><p>{{LINK Browse To Upload}}</p></div></div> </div>');
		    		$("#blog-alert").html('');
		    		$('#configreset').click();

		    	},3000)
		    } else if (data['message']) {
		      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
		    } 
		    $('#bank_transfer_form').find('.ball-pulse').fadeOut(100);
		}});
	});

	 function OpenBank(pkg,self,video_id = 0,price = 0){
	    if (!pkg || !self) {
	      return false;
	    }
	    amount = $("#wallet_amount").val()+'00';
	    $('#bank_transfer_amount').val(amount);
	    $(self).text("{{LANG please_wait}}").attr('disabled', 'true');
	    $('#pay-go-pro').modal('hide');
	    $('#configreset').click();
		$("#blog-alert").html('');
    	$('#pay-go-pro').modal('hide');
    	$('#bank_transfer_modal').modal({
             show: true
		});
	}

	function CheckOutCard(type, description, price=0, payment_type) {
		description = "Wallet replenishment";
		amount = $('#wallet_amount').val() * 100;

		
		$('.btn-cart').attr('disabled', true).text('please wait');
		
		var img = 'star';
		
		if (payment_type != 'bank_payment' && payment_type != 'checkout') {
			var handler = StripeCheckout.configure({
				key: "<?php echo $ask->config->stripe_id; ?>",
				locale: 'english',
				image: '{{CONFIG theme_url}}/img/' + img + '.png',
				token: function(token) {
				$('.modal-body').html('<i class="fa fa-spin fa-spinner"></i> {{LANG Payment Verification}}');
				$('#pay-go-pro').modal({
					show: true
					});
					$.post('{{LINK aj/stripe-wallet}}', {stripeToken:token.id, amount:$('#wallet_amount').val()}, function (data) {
						if (data.status == 200) {
							window.location.href = data.location;
						} else {
							$('.modal-body').html('<i class="fa fa-spin fa-spinner"></i>{{LANG payment declined}}');
						}
					});
				}
			});
		}
		if (payment_type == 'credit_card') {
			handler.open({
			name: "<?php echo $ask->config->title; ?>",
			description: description,
			amount: amount,
			currency: '<?php echo $ask->config->ads_currency ?>',
			opened: function () {
				$('#pay-go-pro').modal('hide');
				$('.btn-cart').attr('disabled', false).html("<i class='fa fa-credit-card'></i> {{LANG credit card}}");
			}
			});
		
	    	
	   	  
		} else if (payment_type == 'checkout') {
			$("#2checkout_alert_wallet").html('');
			$('#pay-go-pro').modal('hide');
	    	$('#2checkout_wallet_modal').modal({
	            show: true
	        });
		}
		$(window).on('popstate', function() {
		handler.close();
		});
	}

</script>
<form class="replenish-wallet-form hidden">
	<h5>{{LANG Account Recharge}}</h5>
	<br>
	<div class="form-group w100 add-amount">
		<h5>
			<span><?php echo GetCurrency($ask->config->ads_currency); ?></span>
			<b><input type="text" placeholder="0.00"></b>
		</h5>
	</div>
</form>