<div class="ask_side_widget ads_nav">
	<ul class="list-unstyled mb-0">
		<li <?php echo ($ask->ap == 'ads') ? 'class="active"' : ''; ?>><a href="{{LINK ads}}" data-load="?link1=ads">{{LANG Advertising}}</a></li>
		<li <?php echo ($ask->ap == 'wallet') ? 'class="active"' : ''; ?>><a href="{{LINK wallet}}" data-load="?link1=wallet">{{LANG Wallet}}</a></li>
		<li <?php echo ($ask->ap == 'create') ? 'class="active"' : ''; ?>><a href="{{LINK ads/create}}" data-load="?link1=create-ads">{{LANG Create New}}</a></li>
	</ul>
</div>